
<nav class="navbar navbar-expand-sm bg-black">
        <ul class="navbar-nav"> 
            <li class="nav-item">
                <a routerLink="/Registro" class="text-danger nav-link"><i class="fa fa-id-card"></i> Registrarse</a>
            </li >
                <li class="nav-item"><a  routerLink="/Login" class="text-danger nav-link"><i class="fa fa-share-square-o"></i> Ingresar</a>
                </li>
                <li class="nav-item">
                      <a href="https://github.com/pellittaroman"target="_blank" class="nav-link" >en GitHub <i class="fa fa-git-square"></i></a>
                </li>
                <li class="nav-item">
                      <a  routerLink="/QuienSoy" class="nav-link" >Quien Soy? <i class="fa fa-drupal"></i></a>
                </li>
        </ul>
        </nav>
      