<app-cabecera>  </app-cabecera>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="Cabeza">
        <h1 class="text-white " style="text-align: center">A Jugar!</h1>
      </div>
      
    </div>
  </div>
  <!--tarjeta-->
<div class="container" style="background-color: black;" >
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-5" id="card" >
      <a routerLink="/Juegos">
        <div class="media">
          <div class="media-left">
                <img src="./assets/imagenes/juegos.png" class="media-object imagenDeMenu" style="margin-top: 1px;" >
          </div>
          <div class="media-body ">
            <h4 class="media-heading text-white "> Juegos</h4>
            <p class="text-white"> Sala de juegos. Selecciona el juego y diviertete!</p>
          </div>
         
        </div> 
      </a>
    </div>
    
  </div>
</div>
<!--fin de tajeta-->
<div class="container " style="background-color: black;"  >
  <div class="row ">
    <div class="col-lg-3"></div>
      <div class="col-lg-3" id="card">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/player.jpg" class="media-object imagenDeMenu" style="margin-top: 2px;" >
                  </div>
              <div class="media-body text-white">
                <h4 class="media-heading ">Jugadores</h4>
                <p >Listado de jugadores</p>
              </div>
              
            </div> 
          </a>
        </div>
    <div class="col-lg-4" id="card">
      <a routerLink="/Listado">
        <div class="media">
            <div class="media-left">
                <img src="./assets/imagenes/listado.png" class="media-object imagenDeMenu" style="margin-top: 2px;">
              </div>
          <div class="media-body text-white">
            <h4 class="media-heading">Listados de resultados</h4>
            <p class="text-white">Los listados de todos los resultados</p>
          </div>
          
        </div> 
      </a>
    </div>
  </div>
</div>
</div>
