<div class="container">
  <!--Primer tarjeta-->
  <div class="row ">
<div class="card col-sm-3 bg-warning text-center" >
    
      <img class="card-img-top"    src="./assets/imagenes/arismetica.jpg" style="width:100%;height: 200px;">
      <div class="card-body " style="width:100%">
      <h5 class="card-title">Velocidad y agilidad aritmética </h5>
      <p class="card-text text-center">Juego de agilidad mental</p>
       
    <!--boton-->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
      <p>           <button class="btn btn-secondary"  (click)="Juego('Agilidad')" style="width: 100%" >Jugar</button></p>
      </div>
    </div>
    </div>
</div>
<!--Tarjeta-->
    
  <div class="card col-sm-3 bg-info text-center">
    <img class="card-img-top" src="./assets/imagenes/piedra.png" style="width:100%;height: 200px;">
      <div class="card-body">
      <h4 class="card-title" >Piedra, Papel o Tijera</h4>
      <p class="card-text text-center">Juega contra la máquina</p>
     <!--boton-->
       <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">  <p>           <button class="btn btn-secondary " style="width: 100%"  routerLink="/Piedra">Jugar</button></p>
      </div>
      </div>
    </div>
  </div>
   
    <!--Tarjeta-->    
    
    <div class="card  col-sm-3 bg-danger text-center ">
      <img  class="card-img-top"  src="./assets/imagenes/adivina.jpg"  style="width:100%;height: 200px;">
      <div class="card-body">
      <h4>Adivina el número secreto</h4>
      <p class="title">Parece facil, ¿lo es?</p>
      <!--boton-->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p>           <button class="btn btn-secondary" style="width: 100%" (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div>
      </div>
</div>
<!--Tarjeta-->

<div class="card col-sm-3 bg-secondary text-center" >
        
    <img class="card-img-top"    src="./assets/imagenes/tateti.png"  style="width:100%;height: 200px;">
    <div class="card-body " style="width:100%">
    <h4 class="card-title">Ta-Te-Ti </h4><br>
    <p class="card-text text-center">Juego de estrategia</p>
     
  <!--boton-->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <p>           <button class="btn btn-primary"  routerLink="/Tateti" style="width: 100%" >Jugar</button></p>
    </div>
  </div>
  </div>
</div>
    </div>
  <div class="row">
    <div class="col-sm-3"></div>
     <!--Tarjeta-->    
    
     <div class="card  col-sm-3 bg-dark text-center ">
        <img  class="card-img-top"  src="./assets/imagenes/anagrama.jpg"  style="width:100%;height: 200px;">
        <div class="card-body text-white">
        <h5 >Anagrama</h5>
        <p class="title">Ordena las letras y descubre la palabra</p>
        <!--boton-->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p>           <button class="btn btn-secondary" style="width: 100%"  routerLink="/Anagrama">Jugar</button></p>
      </div>
    </div>
        </div>
  </div>
   <!--Tarjeta-->    
    
   <div class="card  col-sm-3 bg-primary text-center">
      <img  class="card-img-top"  src="./assets/imagenes/bandera.jpg"  style="width:100%;height: 200px;">
      <div class="card-body text-white">
      <h5>Banderas del mundo</h5>
      <p class="title">Ve la bandera y adivina a pais pertenece</p>
      <!--boton-->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p>           <button class="btn btn-secondary" style="width: 100%" routerLink="/Paises">Jugar</button></p>
    </div>
  </div>
      </div>
</div>
  </div>

    
  </div>
