<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->
<div style="text-align:center;color: chartreuse;margin-bottom: 5%;margin-top: 3%">
    <h1>
      {{nuevoJuego.nombre}}!
    </h1>
   </div>
   <div class="container">
      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2" style="background-color: rgb(124, 204, 50)" *ngIf="enJuego">
            <h2  style="text-align: center;color:darkblue;margin-top: 1%;font-size: 35px"  >{{nuevoJuego.numeroUno}}</h2>
            <h2   style="text-align: center;color:brown;margin-top: 1%;font-size: 35px;margin-right: 30%" >{{nuevoJuego.operador}}</h2>
            <h2   style="text-align: center;color:darkblue;margin-top: 1%;font-size: 35px" >{{nuevoJuego.numeroDos}}</h2>
            <h2 style="text-align: center;color:white;margin-top: 1%;font-size: 25px"  >---------</h2>
        </div>
      </div>
    </div>

   
    <div class="container">
      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" *ngIf="enJuego" type="text"  style="width:100%;background-color: lightslategray;color: white;text-align: center"/>
        </div>
      </div>
    </div>



<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" >
          <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()"  style="width: 100%" class="btn btn-info btn-lg">Verificar {{Tiempo}} </button></h2>
          <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()" style="width: 100%;margin-top: 30%"  class="btn btn-info btn-lg">Nuevo Juego</button></h2>
      </div>
    </div>
  </div>
  <div class="text-center bg-white" > 
      <h3 *ngIf="gano" class="text-success" style="font-size: 30px" >Usted acerto el resultado!!</h3>
      <h3 *ngIf="enJuego" class="text-dark"  style="font-size: 30px" >Usted aún no gano </h3>
      <h3 *ngIf="perdio" class="text-danger" style="font-size: 30px">Las matematicas no son lo tuyo!!</h3>
  
  </div>
    
  

